<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CONGO</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|Monoton" rel="stylesheet">
    <!-- look for font -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/core.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/md5.js"></script>

</head>

<body>
    {{{body}}}
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="assets/js/script.js" type=""></script>
</body>

<footer class="footer">
  Copyright 2020 CONGO
</footer>

</html>