<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Congo</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text:600|Monoton" rel="stylesheet">
    <!-- look for font -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="assets/css/styles.css">

</head>

<body>
<!-- Section 1: Navbar-->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <!-- Our brand / logo -->
        <a class="navbar-brand" href="index.html">Congo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

    <!-- Collapsible button -->
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <!-- The links of our navbar -->
            <li class="nav-item active">
                <a class="nav-link" href="main.handlebars">Home <span class="sr-only">(current)</span></a>
            </li>

            <li class="nav-item">
                <!--Fratures should go to the number one item-->
                <a class="nav-link" href="" target="_blank">Features</a>
    
            </li>
    
            <!-- a Dropdown menu -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
    
            <!--links to diffrent pages-->
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="" target="_blank">Top Ten</a>
                <a class="dropdown-item" href="">blah</a>
                <a class="dropdown-item" href="">blah blah</a>
                </div>
            </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <class="row">
          <div class="col-12 col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="highlight">blah blah blah</h2>
              </div>
              <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item"  />
            </div>
    
            <!-- Section 1: name and image   -->
            <section class="name-image">
            </section>
          </div>

        <div class="buttons">
            <div class="col-12 col-md-3">
                <button class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</button>
                <button class="btn btn-secondary"><i class="fa fa-thumbs-up"></i> Dislike</button>
            </div>
        </div>

          <!--sec col and bio par-->
      <div class="col-12 col-md-5">
        <section class="bio">
          <!-- bio Paragraph -->
          <p id="first-paragraph">
            blah blah blah cool produck yeah its cooll dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
            dhahdhahdhahdahdhhahdhadhahdhadakjdjkajdjad
            dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
          </p>
        </section>
      </div>

    <script src="assets/js/" type=""></script>
</body>

</html>