<!--item input-->
<div class="container">
  <div class="row postproduct">
    <div class="col-4" style="width: 18rem;">
    </div>
    <div class="col-4 input" style="width: 18rem;">
      <form>
        <h4>Product Name :</h4>
        <textarea class="product" type="text" name="productName" placeholder="Enter Product Name"></textarea><br>
      </form>
      <h4>Image Url : </h4>
      <form>
        <textarea id="image" name="imageUrl" placeholder="Paste Image Url..."></textarea>
      </form>
      <h4>Brief Description : </h4>
      <textarea class="description" name="message" rows="10" cols="30" placeholder="Brief Description..."></textarea>
      <br></br>
      <button id="submission" type="submit"> Submit </button>
    </div>
    <div class="col-4" style="width: 18rem;">
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/add.js"></script>