<div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1> <!-- handlebar titles --> </h1>
          </div>
          <img src="<!-- handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars description --> </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1> <!-- handlebar titles --> </h1>
          </div>
          <img src="<!-- handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars description --> 
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1> <!-- handlebars title --> </h1>
          </div>
          <img src="<!-- handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars description --> </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1><!-- handlebars image title --></h1>
          </div>
          <img src="<!--handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars image description --> </p>
          </div>
        </div>
      </div>
       <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1><!-- handlebars image title --></h1>
          </div>
          <img src="<!--handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars image description --> </p>
          </div>
        </div>
      </div>
       <div class="col-sm-12 col-md-4">
        <div class="card" style="width: 18rem;">
          <div class="card-title">
            <h1><!-- handlebars image title --></h1>
          </div>
          <img src="<!--handlebars image source -->" class="card-img-top" alt="..." class="img-fluid">
          <div class="card-body">
            <p class="card-text"> <!-- handlebars image description --> </p>
          </div>
        </div>
      </div>
    </div>
  </div>