
<div class="container-fluid">
  <div class="row">
    <div class="col-4" >
      <div class="card">
        <div class="card-body">
          <h2 class="highlight">blah blah blah</h2>
        </div>
        <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item" />
      </div>
      <!-- Section 1: name and image   -->
      <section class="name-image">
      </section>
    </div>
    <!--sec col and bio par-->
    <div class="col-4" >
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">
          blah blah blah cool produck yeah its cooll dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
          dhahdhahdhahdahdhhahdhadhahdhadakjdjkajdjad
          dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
        </p>
      </section>
    </div>
  </div>
</div>
    <!--like bottons-->
    <div class="buttons">
      <div class="col-4" >
        <button class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</button>
        <button class="btn btn-secondary"><i class="fa fa-thumbs-up"></i> Dislike</button>
      </div>
    </div>
     <!--item imput-->
    <div class="container-fluid"></div>
    <div class="row">
      <div class="col-4" style="width: 18rem;">
        <form>
          <h4>Username :</h4>
          <textarea class="Uname" type="text" name="username"></textarea><br>
        </form>
      </div>
      <div class="col-4" style="width: 18rem;">
        <form>
          <h4>Product Name :</h4>
          <textarea class="product" type="text" name="productName"></textarea><br>
        </form>
      </div>
    
      <div class="col-4" style="width: 18rem;">
        <h4>Brief Description : </h4>
        <textarea class = "description" name="message" rows="10" cols="30"></textarea>
        <button id ="submission" type = "submit"> Submit </button>
      </div>