<h1 class="title">Congo</h1>
<div class="welcoming">
  <p><span id="login">Log In or Sign Up</span></p>
</div>
<!--image-->
{{#each allProducts}}
<div class="container">
  <div class="row product">
    <div class="col-6">
      <h2> {{this.name}}</h2>
      <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item" />
    </div>

    <!--sec col and bio par-->
    <div class="col-4">
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">{{this.description}}</p>
      </section>
    </div>
  </div>
</div>
{{/each}}

<!--item imput-->
<div class="container">
  <div class="row postproduct">
    <div class="col-4" style="width: 18rem;">
    </div>

    <div class="col-4 input" style="width: 18rem;">
      <form>
        <h4>Product Name :</h4>
        <textarea class="product" type="text" name="productName"></textarea><br>
      </form>

      <h4>Brief Description : </h4>
      <textarea class="description" name="message" rows="10" cols="30" placeholder="Brief description..."></textarea>
      <br></br>
      <button id="submission" type="submit"> Submit </button>
    </div>

    <div class="col-4" style="width: 18rem;">
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/script.js"></script>
