<h1 class="title"><img class="center" id="logo" href="#" src="/assets/images/congo.png" alt="CONGO logo"
            class="logo responsive-img" /> </h1>
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="" id="login">Log In or Sign Up</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" id="search">Search</a>
      </li>
    </ul>
  </div>
</nav>
<!--image-->
{{#each allProducts}}
<div class="container">
  <div class="row product guest">
    <div class="col-6">
      <h2 class="productName"> {{this.name}}</h2>
      <p id="postedBy" class="{{this.userID}}"></p>
      <img id="car" class="card-img-top img-fluid" src="{{this.imageUrl}}" alt="Picture of item" />
    </div>

    <!--sec col and bio par-->
    <div class="col-4">
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">{{this.description}}</p>
      </section>
    </div>
  </div>
</div>
{{/each}}

<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/script.js"></script>
