<!-- Section 1: Navbar-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Our brand / logo -->
  <a class="navbar-brand" href="#">Congo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collapsible button -->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ml-auto">
      <!-- The links of our navbar -->
      <li class="nav-item active">
        <a class="nav-link" href="main.handlebars">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <!--Fratures should go to the number one item-->
        <a class="nav-link" href="" target="_blank">Features</a>
      </li>
      <!-- a Dropdown menu -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <!--links to diffrent pages-->
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="" target="_blank">Top Ten</a>
          <a class="dropdown-item" href=""></a>
          <a class="dropdown-item" href="">add a review/item</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-4" >
      <div class="card">
        <div class="card-body">
          <h2 class="highlight">blah blah blah</h2>
        </div>
        <img id="car" class="card-img-top img-fluid" src="" alt="Picture of item" />
      </div>
      <!-- Section 1: name and image   -->
      <section class="name-image">
      </section>
    </div>
    <!--sec col and bio par-->
    <div class="col-4" >
      <section class="bio">
        <!-- bio Paragraph -->
        <p id="first-paragraph">
          blah blah blah cool produck yeah its cooll dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
          dhahdhahdhahdahdhhahdhadhahdhadakjdjkajdjad
          dahdhadhahdahdhadhahhdahdhahdahdhhadhahdhahd
        </p>
      </section>
    </div>
  </div>
</div>
    <!--like bottons-->
    <div class="buttons">
      <div class="col-4" >
        <button class="btn btn-primary"><i class="fa fa-thumbs-up"></i> Like</button>
        <button class="btn btn-secondary"><i class="fa fa-thumbs-up"></i> Dislike</button>
      </div>
    </div>
     <!--item imput-->
    <div class="container-fluid"></div>
    <div class="row">
      <div class="col-4" style="width: 18rem;">
        <form>
          <h4>Username :</h4>
          <textarea class="Uname" type="text" name="username"></textarea><br>
        </form>
      </div>
      <div class="col-4" style="width: 18rem;">
        <form>
          <h4>Product Name :</h4>
          <textarea class="product" type="text" name="productName"></textarea><br>
        </form>
      </div>
    
      <div class="col-4" style="width: 18rem;">
        <h4>Brief Description : </h4>
        <textarea class = "description" name="message" rows="10" cols="30"></textarea>
        <button id ="submission" type = "submit"> Submit </button>
      </div>