<h1>CONGO</h1>
<h2>Stay on Beat</h2>
<p></p>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 login-box">
            <h1>Congo Log In:</h1>

            <p id="incorrectLogin" class="alert">That username/password is incorrect.</p>
        
            <form>
                <fieldset>
                    <p>Username</p>
                    <input type="text" id="username">
                    <br></br>
                    <p>Password</p>
                    <input type="text" id="password">
                    <br></br>
                    <input id = "submit" type="submit" value="Submit">
                </fieldset>
            </form>

            <p id="guestLoad">Continue as Guest</p>

        </div>
    </div>
</div>