<h1>CONGO</h1>
<h2>Stay on Beat</h2>
<p></p>

<div class="container-fluid signupArea">
    <div class="row">
        <div class="col-sm-2 col-md-3 col-lg-4"></div>
        <div class="col-sm-8 col-md-6 col-lg-4 login-box">
            <h1>Congo Sign Up:</h1>

            <p id="passNoMatch" class="alert">Passwords do not match.</p>
            <p id="userTaken" class="alert">That username is taken.</p>

            <form>
                <fieldset>
                    <p>Please enter a username:</p>
                    <input type="text" id="usernameSign">
                    <br></br>

                    <p>Please enter a unique password:</p>
                    <input type="password" id="password">
                    <br></br>

                    <p>Please confirm password:</p>
                    <input type="password" id="confirmPassword">
                    <br></br>
                     <input type="submit" value="Sign Up" id="signUp">
                </fieldset>
                <br></br>
                <p>Already have an account? <span id="goLog">Log in.</span></p>
                <p id="guestLoad"><span>Continue as Guest</span></p>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script src="assets/js/signup.js" type=""></script>
