span {
    color: blue;
}

h1{
    align-content: center;
}
.title {
    background: rgb(77, 99, 31);
   
    /* text-align: center;
    font-style: oblique; */
    padding : 30px 30px;
}
nav {
    margin-top: -10px;
    margin-bottom: 10px;
}
.navbar {
    background: rgb(124, 160, 66);
}
.welcoming {
    text-align: right;
}
.alert {
    color: red;
}
.login-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
}
.product, #image {
    background: url("/assets/images/OIHR970-e1522873047667.jpg");
    border: gray 1px solid;
    padding-bottom: 15px;
    border-radius: 25px;
    font-style: italic;
    color: white;
}
.input{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
    background-color:rgb(124, 160, 66);
} 
.buttons{
    padding: 5px 0px 15px 50px;
}
body {
    background: url("/assets/images/El-Yunque-morning-mist-iStock-535499464.jpg") no-repeat center center fixed;
    background-size: cover;
}
.like, .dislike {
    background-color: rgb(124, 160, 66);
    border: rgb(77, 99, 31);
    color: black;
    outline: none;
}
.login-box {
    background-color: rgb(173, 189, 179);
}

















