span {
    color: blue;
}

h1{
    align-content: center;
}
.title {
    background-color: rgb(61, 109, 46);
   
    /* text-align: center;
    font-style: oblique; */
    padding : 30px 30px;
}
nav {
    margin-top: -10px;
    margin-bottom: 10px;
}
.navbar {
    background: rgb(205,194,156);
}
.welcoming {
    text-align: right;
}
.alert {
    color: red;
}
.login-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
}
.product, #image {
    background: url("/assets/images/OIHR970-e1522873047667.jpg");
    border: gray 1px solid;
    padding-bottom: 15px;
    border-radius: 25px;
    font-style: italic;
    color: white;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
#first-paragraph {
    text-align: center;
    padding-left: 65px;
}
.productName {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.input{
    text-align: center;
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
    background: url("/assets/images/OIHR970-e1522873047667.jpg");
} 

#producttxt, #imagetxt, #descriptiontxt{
    background-color: rgb(205,194,156);
}

.buttons{
    padding: 5px 0px 15px 50px;
}
body {
    background: url("/assets/images/El-Yunque-morning-mist-iStock-535499464.jpg") no-repeat center center fixed;
    background-size: cover;
}
.like, .dislike {
    background-color: rgb(205,194,156);
    border: rgb(77, 99, 31);
    color: black;
    outline: none;
}
.login-box {
    background-color: rgb(205,194,156);
}
.guest {
    margin-bottom: 20px
}

li input, li button {
    height: 30px;
    margin-top: 5px
}


















