span {
    color: blue;
}

.title {
    background-color: rgb(135, 152, 159);
    text-align: center;
    font-style: oblique;
    padding : 30px 30px;
}

.welcoming {
    text-align: right;
}

.alert {
    color: red;
}

.login-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
}
.postproduct{
    background-color: tomato;
}

.product {
    background-color: rgb(173, 189, 179);
    border: gray 1px solid;
    padding-bottom: 15px;
    border-radius: 25px;
    font-style: italic;
}
.input{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
    background-color: rgb(172, 108, 108);
} 

.buttons{
    padding: 5px 0px 15px 50px;
}

body {
    background: url("/assets/images/OIHR970-e1522873047667.jpg") no-repeat center center fixed;
    background-size: cover;
}

.like, .dislike {
    background-color: rgb(135, 152, 159);
    color: black;
    outline: none;
}

