body {
    border: 5px solid red;
}

.login-box {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
}

.input{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 20px;
    border: gray 1px solid;
    background-color: rgb(172, 108, 108);
} 
